.ipynb_checkpoints/
.virtual_documents
data/.ipynb_checkpoints/
img/
img.html
*.jpg
*.png
*.jpeg 
*.gif
*.webp
*.svg
*.ico
*.bmp
*.tiff
*.tif
*.webm
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a

.env